[user]
    name = George Ho
    email = 19851673+eigenfoo@users.noreply.github.com
    username = eigenfoo
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
